<div class="container">
  <nav class="navbar navbar-expand-lg bg-light mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('general_app.index') }}">Blog</a>
      <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for (endpoint, label) in [
            ('user_app.list', 'Users'),
            ('article_app.list', 'Articles'),
            ('author_app.list', 'Authors'),
          ] %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == endpoint %} active {% endif %}" aria-current="page"
              href="{{ url_for(endpoint) }}">
              {{label}}
            </a>
          </li>
          {% endfor %}
          {% if current_user.is_authenticated  %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{current_user.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('user_app.profile', pk=current_user.id) }}">Profile</a></li>
              {% if current_user.is_staff  %}
              <li><a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin Panel</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{{ url_for('auth_app.logout') }}">Logout</a></li>
            </ul>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_app.login' %} active {% endif %}" aria-current="page"
              href="{{ url_for('auth_app.login') }}">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_app.register' %} active {% endif %}" aria-current="page"
              href="{{ url_for('auth_app.register') }}">
              Registration
            </a>
          </li>
          {% endif %}

        </ul>

      </div>
    </div>
  </nav>
</div>