{% extends "base.html" %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
Login as
{% endblock title %}


{% block body %}
<h1> Login </h1>

{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}

<form method="POST">
  {# csrf protection #}
  {{ form.csrf_token() }}

  {# show inputs #}
  {% for field in ['email', 'password'] %}
  {{ render_field(form[field]) }}
  {% endfor %}

  {# submit #}
  <div class="col-auto">
    {{ form.submit(class="btn btn-primary btn mb-3") }}
  </div>
</form>

<a href="{{ url_for('auth_app.register') }}" class="link-info">Don't have an account?</a>

{% endblock body %}