{% extends "base.html" %}

{% block title %}
Article - #{{ article.id }}: {{ article.title }}
{% endblock title %}


{% block body %}
<div class="card">
  <h5 class="card-header">{{article.title}}</h5>
  <div class="card-body">
    <h5 class="card-title">Tag: {{article.title}} </h5>
    <p class="card-text"> {{ article.body }} </p>
    <p class="card-text"><small class="text-muted">Last updated: {{ article.dt_updated.strftime('%d-%m-%Y') }}</small>
    </p>
    Author:
    <a href="{{ url_for('user_app.detail', pk=article.author.user.id) }}" class="card-link">
      {{article.author.user.username}}
    </a>
  </div>
</div>

<br>
<a class="btn btn-primary btn-sm" href="{{ url_for('article_app.list') }}" role="button">Article List</a>
{% endblock body %}