{% extends "base.html" %}
{% block title %}
Article List by tag: {{ tag.name }}
{% endblock title %}

{% block body %}

<div class="alert alert-success" role="alert">
  Article List by tag: {{  tag.name }}
</div>

{% for article in articles %}
<ul>
  <li>
    <a href="{{ url_for('article_app.details', article_id=article.id) }}">
      {{article.title}}
    </a>
    by {{ article.author.user.username }}
  </li>
</ul>
{% endfor %}
<hr />
<a href="{{ url_for('article_app.create') }}">Create new</a>
{% endblock body %}